<!doctype html>
<html>
<head>
    <title>Discussion</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="discussion" ng-cloak class="ng-cloak" ng-controller="helloworld as hell">
    <div class="container content-holder">
        <div class="alert alert-success" ng-show="hell.success">{{hell.succMsg}}</div>
        <div class="alert alert-danger" ng-show="hell.error">{{hell.errMsg}}</div>
        <form role="form" ng-submit="hell.submitMsg()">
            <div class="form-group">
                <p>{{hell.testMsg}}</p>
                <label for="username">Username:</label> <input type="text"
                                                            class="form-control" id="username" name="username"
                                                            ng-model="hell.username" />
                <label for="message">Your Message:</label> <textarea rows="5"
                                                               class="form-control" id="message" name="message"
                                                               ng-model="hell.message" ></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <br>
        <ul>
            <li ng-repeat="item in self.allMessages" ng-include="'namVal'"></li>
        </ul>
    </div>
    <script src="js/angular-bootstrap.js" type="text/javascript"></script>
    <script src="js/discussion.js" type="text/javascript"></script>
</body>
</html>

<script type="text/ng-template" id="namVal">
    <strong>{{ item.username}} says:</strong><br>
    <p>{{item.content}}</p>
    <ul ng-if="item.children.length > 0">
        <li ng-repeat="item in item.children" ng-include="'namVal'"></li>
    </ul>
</script>